<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nechupadam Dental Clinic</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/logos/favicon3.png' %}">
  <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}" >
  <style>
    .custom-card {
      box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4); /* Customize the shadow values */
    }
  </style>
</head>

<body>
{% if request.user.is_authenticated %}
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="{% url 'nechuadminhome' %}" class="text-nowrap logo-img">
            <img src="{% static 'assets/images/logos/nechulogo.png' %}" width="220" height="50px" alt="">
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <hr>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            {% comment %} <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li> {% endcomment %}
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'nechuadminhome' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            {% comment %} <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">UI COMPONENTS</span>
            </li> {% endcomment %}
            {% comment %} <li class="sidebar-item">
              <a class="sidebar-link" href="" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Manage Treatments</span>
              </a>
            </li> {% endcomment %}
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'treatments' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-dental"></i>
                </span>
                <span class="hide-menu">Manage Treatments</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'images' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-photo-plus"></i>
                </span>
                <span class="hide-menu">Manage Images</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'imagecategory' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-photo-star"></i>
                </span>
                <span class="hide-menu">Image Categories</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'youtube' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-brand-youtube"></i>
                </span>
                <span class="hide-menu">Manage YouTube Videos</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'youtubecategory' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-device-tv"></i>
                </span>
                <span class="hide-menu">YouTube Categories</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'bookings' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-address-book"></i>
                </span>
                <span class="hide-menu">View Appointments</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'medicalreports' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-report-medical"></i>   
                </span>
                <span class="hide-menu">View Medical Reports</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'articles' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-login"></i>
                </span>
                <span class="hide-menu">Manage Articles</span>
              </a>
            </li>
            <!-- <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">AUTH</span>
            </li> -->
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'reviews' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-message"></i>
                </span>
                <span class="hide-menu">Manage Reviews</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'staffs' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-users"></i>
                </span>
                <span class="hide-menu">Manage Staffs</span>
              </a>
            </li>


            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'bg' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-texture"></i>
                </span>
                <span class="hide-menu">Manage Background</span>
              </a>
            </li>






            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'history' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-texture"></i>
                </span>
                <span class="hide-menu">Manage History</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'process' %}" aria-expanded="false">
                <span>
                  <i class="ti ti-texture"></i>
                </span>
                <span class="hide-menu">Manage Process</span>
              </a>
            </li>




            <br>
            <p style="font-size:12px; text-align: center;">Powered By, <span style="color:blue;">Allen</span><span style="color:red;">Zion</span>
            <br>
            <br>


          </ul>


        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header" style="background-color: #bc74a5; padding:8px;">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'nechuadminhome' %}">
                <h4 style="color:white;">Admin Interface</h4> 
              </a> 
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="{% static 'assets/images/profile/user-1.jpg' %}" alt="" width="35" height="35" class="rounded-circle">
                  <div class="notification bg-success rounded-circle"></div>
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">

                    {% comment %} <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-list-check fs-6"></i>
                      <p class="mb-0 fs-3">My Task</p>
                    </a> {% endcomment %}
                    <a href="{% url 'SignOut' %}" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <br>
      <!--  Header End -->
      <!-- <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Sample Page</h5>
            <p class="mb-0">This is a sample page </p>
          </div>
        </div>
      </div> -->
      <!-- <div class="container-fluid">
        <div class="card shadow-lg"> 
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Sample Page</h5>
                <p class="mb-0">This is a sample page</p>
            </div>
        </div>
      </div> -->
 
    {% comment %} <div class="container-fluid">
        <div class="card custom-card"> 
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Sample Page</h5>
                <p class="mb-0">This is a sample page</p>
            </div>
        </div>
    </div> {% endcomment %}

    <div class="container-fluid">
      <div class="card custom-card"> 
          <div class="card-body">
            {% block content %}


            {% endblock content %}  
          </div>
      </div>
   </div>
    
    </div>
  </div>
  <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/sidebarmenu.js' %}"></script>
  <script src="{% static 'assets/js/app.min.js' %}"></script>
  <script src="{% static 'assets/libs/simplebar/dist/simplebar.js' %}"></script>
{% else %}
   <h2 style="color:red;">Unauthorized user</h2>
{% endif %}
</body>

</html>