{% extends 'nechuadmin/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <h2 style="text-align: center;" class="pt-5 pb-5">Edit History</h2>
</div>

<form action="{% url 'edit_history' history.id %}" method="POST" enctype="multipart/form-data" style="width: 500px; margin: auto;">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" class="form-control" name="year" value="{{ history.year }}" placeholder="Title" required>
    </div>
    <br>
    <div class="form-group">
        <input type="text" class="form-control" name="description" value="{{ history.description }}" placeholder="Title" required> 
    </div>
    <br>
    <div class="form-group">
        Choose new image
        <input type="file" class="form-control" id="treatmentImage" name="nechu_image">
    </div>
    <br>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary" style="width: 200px;"><i class="fa fa-plus"></i> Update</button>
    </div>
</form>



{% endblock %}