{% extends 'nechuadmin/base.html' %}
{% load static %}

{% block content %}



<div class="container"> 
    <h2 style="text-align: center;" class="pt-5 pb-5">Edit YouTube Category</h2>
</div>

<form action="{% url 'edit_youtubecategory' get_category.pk %}" method="POST" style="width:500px; margin:auto;">
    {% csrf_token %}
    <div class="form-group">
        <span style="display: flex;">
            <input type="text" class="form-control"  name="task" value="{{ get_category.category }}">
            <button type="submit" class="btn btn-primary" style="width: 200px;"><i class="fa fa-plus"></i>Update</button>
        </span>
    </div>
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




{% endblock %}