<!doctype html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nechupadam Dental Clinic</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/logos/favicon3.png' %}">
  <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}" >
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                {% comment %} <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="{% static 'assets/images/logos/nechulogo.png' %}" width="180" alt="">
                </a> {% endcomment %}
                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                    <img src="{% static 'assets/images/logos/nechulogo.png' %}" class="img-fluid" style="max-width: 300px;" alt="">
                </a> 
                <form method="POST">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="uname">
                  </div>
                  <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="pswd">
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    {% for message in messages %}
                      <h4 style="color:red">{{message}}</h4>
                    {% endfor%}
                  </div>
                  <button type="submit" class="btn w-100 py-8 fs-4 mb-4 rounded-2 bg-black text-white">Sign In</button>
                  {% comment %} <a href="" class="btn w-100 py-8 fs-4 mb-4 rounded-2 bg-black text-white">Sign In</a> {% endcomment %}
                  <div class="d-flex align-items-center justify-content-center">
                    <a class="text-primary fw-bold ms-2" style="color:black;" href="{% url 'index' %}"><p class="fs-4 mb-0 fw-bold">Back To Webpage</p></a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>





