{% extends 'nechuadmin/base.html' %}
{% load static %}

{% block content %}





<style>

    .carousel-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }
  
  .carousel {
      display: flex;
      overflow: hidden;
  }
  
  .carousel-item {
      flex: 0 0 auto;
      transition: transform 0.5s ease-in-out;
  }
  
  .carousel img {
      max-width: 100%;
      height: auto;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
      .carousel-item {
          flex: 0 0 100%;
      }
  }
  
  
  </style>
  
  
  <h1 class="card-title fw-semibold mb-4" style="font-size:25px;">Manage Process</h1>
  <br>
  <br>
  <h5 class="card-title fw-semibold mb-4">Add Process</h5>
  
  <div class="custom-card" style="box-shadow: 2px 2px 15px rgba(188, 116, 165, 0.5); padding: 20px;">
      <form action="{% url 'process' %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="treatmentTitle" class="form-label">Step Number :</label>
          <input type="text" class="form-control" id="treatmentTitle" aria-describedby="titleHelp" name="step_number" required>
        </div>
  
        <div class="mb-3">
          <label for="treatmentTitle" class="form-label">Title :</label>
          <input type="text" class="form-control" id="treatmentTitle" aria-describedby="titleHelp" name="title" required>
        </div>
  
        <div class="mb-3">
          <label for="treatmentImage" class="form-label">Image</label>
          <input type="file" class="form-control" id="treatmentImage" name="nechu_image" required>
        </div>
  
  
  
        <button type="submit" class="btn" style="background-color:#bc74a5; color:white;">Submit</button>
      </form>
    </div>
  
    <br>
    <br>
    <br>
    <br>
    
    <h5 class="card-title fw-semibold mb-4">Historys</h5>
  
  
    <div class="container mt-5 mb-4">
      {% for i in process %}
      <div class="row justify-content-center mb-5" style="border: 1px solid black; padding: 10px;">
          <div class="col-md-6">
              <img src="{{ i.image.url }}" class="img-fluid" alt="Responsive Image">
              <br><br>
              <h3 class="text-center" style="color: #bc74a5;">Step Number: {{ i.step_number }}</h3>
              <h4 class="text-center" style="color: #1853a1;">Title: {{ i.title }}</h4>
          </div>
          <div class="row">
              <div class="d-flex justify-content-between">
                  <a href="{% url 'edit_process' i.id %}" class="btn btn-square" style="background-color:#bc74a5; color:white;"><i class="ti ti-pencil fs-5"></i> Edit</a>
                </div>
          </div>
      </div>
      {% endfor %}
  </div>
  
  <br>
  <br>
  <br>





{% endblock %}