{% extends 'nechuadmin/base.html' %}
{% load static %}

{% block content %}

<h1 class="card-title fw-semibold mb-4" style="font-size:25px;">Manage Staffs</h1>
<br>
<br>
<h5 class="card-title fw-semibold mb-4">Add Staffs</h5>

<div class="custom-card" style="box-shadow: 2px 2px 15px rgba(188, 116, 165, 0.5); padding: 20px;">
    <form action="{% url 'addStaff' %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
      <div class="mb-3">
        <label for="treatmentTitle" class="form-label">Name</label>
        <input type="text" class="form-control" id="treatmentTitle" aria-describedby="titleHelp" name="name">
      </div>
      <div class="mb-3">
        <label for="position" class="form-label">Position</label>
        <input type="text" class="form-control" id="position" aria-describedby="titleHelp" name="position">
      </div>
      <div class="mb-3">
        <label for="treatmentImage" class="form-label">Image</label>
        <input type="file" class="form-control" id="treatmentImage" name="image">
      </div>
      <div class="mb-3">
        <label for="treatmentDescription" class="form-label">Description</label>
        <textarea class="form-control" id="treatmentDescription" rows="4" name="description"></textarea>
      </div>
      <button type="submit" class="btn" style="background-color:#bc74a5; color:white;">Submit</button>
    </form>
  </div>


  <br>
  <br>
  <br>
  <br>
  
  <h5 class="card-title fw-semibold mb-4">View Staffs</h5>
  <br>


  <div class="container">
    <div class="row">
      {% for i in staffs %}
      <div class="col-md-6">
        <div class="card custom-card">
          <img src="{{ i.imageURL }}" class="card-img-top" alt="{{ i.name }}">
          <div class="card-body">
            <h2>{{ i.name }}</h2>
            <br>
            <h5>{{i.position}}</h5>
            <br>
            <p class="card-text">{{ i.description }}</p>
            <br>
            <div class="d-flex justify-content-between">
              <a href="{% url 'edit_staff' i.pk %}" class="btn btn-square" style="background-color:#bc74a5; color:white;"><i class="ti ti-pencil fs-5"></i> Edit</a>
              <a href="{% url 'delete_staff' i.pk %}" class="btn btn-square" style="background-color:red; color:white;"><i class="ti ti-trash fs-5"></i> Delete</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  
  
{% endblock %}