{% extends 'general/main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center pt-5 mt-5">
      <div class="col-lg-6 con-cont2"> <span class="con-cont">Contact </span>Nechupadam Dental clinic</div>
    </div>
      <div class="row down-map">
          <div class="col-lg-3 col-md-6 col-sm-12 bor">
          <center>  <div class="col-lg-3"><img src="{% static 'images/247call.png' %}" width="100%" alt=""></div></center>
            <div class="row">
            <div class="col-lg">
            <h5>Emergency Phone</h5>
            <p>+919946602221 <br>
              Call us Anytime 24/7</p></div></div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 bor" >
            <center>  <div class="col-lg-3"><img src="{% static 'images/address.png' %}" width="100%" alt=""></div></center>
            <div class="row">
              <div class="col-lg">
                <h5>Address</h5>
                <p>Dr Nechupadam Dental Clinic #20 <br> Third Floor, GCDA Commercial <br> Complex, Marine Drive, Kochi, <br> Kerala 682031</p>
              </div></div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 bor">
            <center>  <div class="col-lg-3"><img src="{% static 'images/bbf.png' %}" width="100%" alt=""></div></center>
            <div class="row">
              <div class="col-lg">
            <h5>Book By Phone</h5>
            <p>Engage fully tested process top line platform clients.</p></div></div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <center>  <div class="col-lg-3"><img src="{% static 'images/emailus.png' %}" width="100%" alt=""></div></center>
            <div class="row">
              <div class="col-lg">
            <h5>Email Us</h5>
            <p>User generated content in real time offshoring.</p></div></div>
          </div>
        </div>
  </div>

  <div class="container my-5">
        <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12">
            <img src="{% static 'images/a-scaled.jpg' %}" alt="google map screenshot" width="100%" class="image-size">
          </div>
          <div class="col-lg col-md col-sm sub-1">
            <p class="p1x">Write To Our</p>
            <p class="p1y">Dental Office</p>
            <div class="row">
                <div class="col-lg">
                  Contact our office and we will contact you back regarding the intervention you require.
                </div>
                  <form action="{% url 'booking' %}" method="POST">
                    {% csrf_token %}
                    <div class="my-2">
                      <label for="exampleInputname" class="form-label">Your Name <span style="color: #b868a0;">*</span></label>
                      <input type="text" class="form-control" id="exampleInputname" name="name" required>
                    </div>
                    <div class="my-2">
                      <label for="exampleInputPhone" class="form-label">Phone number <span style="color: #b868a0;">*</span></label>
                      <input type="text" class="form-control" id="exampleInputphone" name="phone" pattern="[0-9]{10}" title="Please enter exactly 10 digits" required>
                    </div>
                    <select class="form-select my-3" aria-label="Default select example" name="doctor">
                      <option selected disabled>Select Your Dentist</option>
                      <option value="Dr.Thomas Nechupadam">Dr.Thomas Nechupadam</option>
                      <option value="Dr.Nithia Sara Thomas">Dr.Nithia Sara Thomas</option>
                      <option value="Dr.Sreelakshmi Surrej">Dr.Sreelakshmi Surrej</option>
                    </select>
                    <div class="my-3">
                      <input type="date" placeholder="Appointment date *" class="form-control" id="exampleInputdate" min="{{ today }}" name="date" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Book Your Dentist</button>
                  </form>
            </div>
          </div>
        </div>
  </div>

  <script>
    // Get the current date in the format "YYYY-MM-DD"
  const today = new Date().toISOString().split('T')[0];
  document.getElementById('exampleInputdate').setAttribute('min', today);

</script>

  <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 mx-3">
          <div class="row">
            <p class="pr1">Proud Member Of</p>
          </div>
          <div class="row">
            <p class="pr2">Nechupadam Dental clinics prouds itself of being one empowered manufactured products and services whereas parallel platforms.</p>
          </div>
        </div>
        <div class="col-lg col-md col-sm">
          <img src="{% static 'images/Artboard-1.png' %}" width="100%" alt="">
        </div>
      </div>
  </div>


{% endblock %}