{% extends 'general/main.html' %}

{% load static %}
{% block content %}

<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .card {
    padding: 15px;
    border: 1.9px solid #b868a0;
    border-radius: 20px;
    margin: 65px 35px 55px 35px;
    position: relative;
    display: inline-block;

  }

  .card .badge {
    position: absolute;
    top: -14px;
    left: 20px;
    padding: 7px 15px;
    border-radius: 5px;
    background-color: #1853a1;
    color: white;
  }

  .pad {
    margin-top: 10%;
  }

  .side {
    border-right: 2px solid rgba(0, 0, 0, 0.297);
  }

  .right::after {
    content: '';
    position: absolute;
    width: 65px;
    height: 65px;
    right: -82px;
    background-color: white;
    border: 4px solid #1853a1;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 38px;
    width: 0;
    z-index: 1;
    right: -12px;
    border: medium solid #1853a1;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #1853a1;
  }

  /* Add arrows to the right container (pointing left) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 38px;
    width: 0;
    z-index: 1;
    left: -12px;
    border: medium solid #1853a1;
    border-width: 10px 10px 10px 0;
    border-color: transparent #1853a1 transparent transparent;
  }

  .left::after {
    content: url('');

    position: absolute;
    width: 65px;
    height: 65px;
    left: -82px;
    background-color: white;
    border: 4px solid #1853a1;
    top: 15px;
    border-radius: 50%;
    z-index: 2;
  }

  .committed-cont {
    margin: 0px 0px 0px 0px;
  }

  .committed-cont p {
    padding-top: 30px;
    padding-left: 23px;
    font-size: 25px;
    color: #b868a0;

  }


  .note p {
    background-color: #b868a0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    margin-bottom: 0px;
    color: white;
  }

  .hrrowright {
    border-right: 1px solid black;
  }
  
</style>


  {% comment %} <div class="container pt-2">
    <div class="row committed-cont">
      <p style="text-align:center;">How Nechupadam Dental Clinic</p>
    </div>
    <div class="row committed-cont2">
      <div class="col-lg">
        <p style="font-size:45px;text-align:center;">Was Founded</p>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <center>
          <div class="col-lg-2 note">
            <p>1965-1991</p>
          </div>
        </center>
        <div class="col-lg">
          <div class="container">
            {% for i in history_objects_bellow %}
              {% if not forloop.counter|divisibleby:2 %}
                <div class="row">
                  <div class="col-6 hrrowright">
                    <div class="card right">
                      <span class="badge">{{i.year}}</span>
                      <div class="container">
                        <h4>{{i.description}}</h4>
                        <img src="{{i.image.url}}" alt="Avatar" style="width:100%">
                      </div>
                    </div>
                  </div>
                  <div class="col-6"></div>
                {% else %}
                <div class="col-6 hrrowright"></div>
                <div class="col-6">
                  <div class="card left">
                    <span class="badge">{{i.year}}</span>
                    <div class="container">
                      <h4>{{i.description}}</h4>
                      <img src="{{i.image.url}}" alt="Avatar" style="width:100%">
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>



        <div class="row">
          <center>
            <div class="col-lg-2 note">
              <p>2000-2015</p>
            </div>
          </center>
          <div class="col-lg">
            <div class="container">
              {% for i in history_objects_above %}
                {% if not forloop.counter|divisibleby:2 %}
                  <div class="row">
                    <div class="col-6 hrrowright">
                      <div class="card right">
                        <span class="badge">{{i.year}}</span>
                        <div class="container">
                          <h4>{{i.description}}</h4>
                          <img src="{{i.image.url}}" alt="Avatar" style="width:100%">
                        </div>
                      </div>
                    </div>
                    <div class="col-6"></div>
                  {% else %}
                  <div class="col-6 hrrowright"></div>
                  <div class="col-6 hrrowleft">
                    <div class="card left">
                      <span class="badge">{{i.year}}</span>
                      <div class="container">
                        <h4>{{i.description}}</h4>
                        <img src="{{i.image.url}}" alt="Avatar" style="width:100%">
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
      </div> {% endcomment %}


      <div class="container pt-2">
        <div class="row committed-cont">
            <p style="text-align:center;">
              Dr. Thomas Nechupadam</p>
        </div>
        <div class="row committed-cont2">
            <div class="col-lg">
                <p style="font-size:45px;text-align:center;">Dental Care Process Explained</p>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
              {% comment %} <center><div class="col-lg-2 note text-center">
                  <p>1965-1991</p>
                </div></center> {% endcomment %}
                <div class="col-lg">
                    <div class="container">
                        {% for i in history_objects_bellow %}
                        {% if not forloop.counter|divisibleby:2 %}
                        <div class="row">
                            <div class="col-md-6 hrrowright">
                                <div class="card right">
                                    <span class="badge">{{i.year}}</span>
                                    <div class="container">
                                        <h4>{{i.description}}</h4>
                                        <img src="{{i.image.url}}" alt="Avatar" style="width:100%">
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-md-6 hrrowleft">
                                <div class="card left">
                                    <span class="badge">{{i.year}}</span>
                                    <div class="container">
                                        <h4>{{i.description}}</h4>
                                        <img src="{{i.image.url}}" alt="Avatar" style="width:100%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
    
            <div class="row">
              <center><div class="col-lg-2 note text-center">
                    <p>2000-2015</p>
                </div></center>
                <div class="col-lg">
                    <div class="container">
                        {% for i in history_objects_above %}
                        {% if not forloop.counter|divisibleby:2 %}
                        <div class="row">
                            <div class="col-md-6 hrrowright">
                                <div class="card right">
                                    <span class="badge">{{i.year}}</span>
                                    <div class="container">
                                        <h4>{{i.description}}</h4>
                                        <img src="{{i.image.url}}" alt="Avatar" style="width:100%">
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-md-6 hrrowleft">
                                <div class="card left">
                                    <span class="badge">{{i.year}}</span>
                                    <div class="container">
                                        <h4>{{i.description}}</h4>
                                        <img src="{{i.image.url}}" alt="Avatar" style="width:100%">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
  
  {% endblock %}