{% extends 'general/main.html' %}
{% load static %}

{% block content %}

<style>
    @media screen and (max-width:767px) {
      .down-map img{
        width: 30%;
      }
    }
    @media screen and (max-width:991px) {
      .down-map img{
        width: 30%;
      }
    }
</style>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg">
            <div style="width: 100%; margin-top: 1%;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d836.8046655878255!2d76.27580913526829!3d9.978402688572016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d540516aaab%3A0x502cb8c09ec4c7fa!2sDr%20Nechupadam%20Dental%20Clinic!5e0!3m2!1sen!2sin!4v1692390824345!5m2!1sen!2sin" width="100%" height="600" frameborder="0" style="border:0"></iframe>
             </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row down-map">
        <div class="col-lg-3 col-md-6 col-sm">
        <center>  <div class="col-lg-3"><img src="{% static 'images/247call.png' %}" width="100%" alt=""></div></center>
          <div class="row">
          <div class="col-lg">
          <h5>Emergency Phone</h5>
          <p>+919946602221 <br>
            Call us Anytime 24/7</p></div></div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm">
          <center>  <div class="col-lg-3"><img src="{% static 'images/address.png' %}" width="100%" alt=""></div></center>
          <div class="row">
            <div class="col-lg">
              <h5>Address</h5>
              <p>Dr Nechupadam Dental Clinic #20 <br> Third Floor, GCDA Commercial <br> Complex, Marine Drive, Kochi, <br> Kerala 682031</p>
            </div></div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm">
          <center>  <div class="col-lg-3"><img src="{% static 'images/bbf.png' %}" width="100%" alt=""></div></center>
          <div class="row">
            <div class="col-lg">
          <h5>Book By Phone</h5>
          <p>Engage fully tested process top line platform clients.</p></div></div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm">
          <center>  <div class="col-lg-3"><img src="{% static 'images/emailus.png' %}" width="100%" alt=""></div></center>
          <div class="row">
            <div class="col-lg">
          <h5>Email Us</h5>
          <p>User generated content in real time offshoring.</p></div></div>
        </div>
      </div>
</div>




{% endblock %}